@model IEnumerable<WebApplication3.Models.Schedule>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<p>
    @Html.ActionLink("Finalize", "Finalize")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.room.Room_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Length)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstimatedCheckin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstimatedCheckout)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckOut)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    if(item.completed == 1) { 
    <tr style="background-color : forestgreen">
        <td>
            @Html.DisplayFor(modelItem => item.room.Room_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Length)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Priority)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstimatedCheckin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstimatedCheckout)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckOut)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
            @Html.ActionLink("CheckIn", "CheckIn", new { id = item.Id }) |
            @Html.ActionLink("CheckOut", "CheckOut", new { id = item.Id })|
            @Html.ActionLink("Clear", "Clear", new { id = item.Id })|
            @Html.ActionLink("Moveup", "Moveup", new { id = item.Id })|
            @Html.ActionLink("MoveDown", "MoveDown", new { id = item.Id })
            
        </td>
    </tr>
    }
    else if (item.completed == 0 & item.late > 0)
    {
        <tr style="background-color : red">
            <td>
                @Html.DisplayFor(modelItem => item.room.Room_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedCheckin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedCheckout)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CheckIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOut)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                @Html.ActionLink("CheckIn", "CheckIn", new { id = item.Id }) |
                @Html.ActionLink("CheckOut", "CheckOut", new { id = item.Id })|
                @Html.ActionLink("Clear", "Clear", new { id = item.Id })|
                @Html.ActionLink("Moveup", "Moveup", new { id = item.Id })|
                @Html.ActionLink("MoveDown", "MoveDown", new { id = item.Id })

            </td>
        </tr>
    }
    else
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.room.Room_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedCheckin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedCheckout)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOut)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                @Html.ActionLink("CheckIn", "CheckIn", new { id = item.Id }) |
                @Html.ActionLink("CheckOut", "CheckOut", new { id = item.Id })|
                @Html.ActionLink("Clear", "Clear", new { id = item.Id })|
                @Html.ActionLink("Moveup", "Moveup", new { id = item.Id })|
                @Html.ActionLink("MoveDown", "MoveDown", new { id = item.Id })
            </td>
        </tr>
    }
}

</table>
